div{
    content:"";
}

.container {
    border: 3px dashed #6e946e;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: #8a5f28;
    
}

.col {
    display: inherit;
    flex-direction: column;
    height: 100%;
}

.col:hover{
    background-color: #00ff2a;
}

.cell{
    width: 50px;
    height: 50px;
    border-radius: 3px;
    cursor: pointer;
    background-color: #c99c62;
}